<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ABM_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ABM_DB.Properties.Settings>
            <setting name="usuarioBD" serializeAs="String">
                <value>oscar</value>
            </setting>
            <setting name="PasswordBD" serializeAs="String">
                <value>centurion</value>
            </setting>
            <setting name="serverBD" serializeAs="String">
                <value>DESKTOP-5CCV4OM\SQLEXPRESS</value>
            </setting>
            <setting name="basedatos" serializeAs="String">
                <value>ABM</value>
            </setting>
        </ABM_DB.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="GestionEntities" connectionString="Server=DESKTOP-5CCV4OM\times;Database=ABM;User Id=oscar;Password=centurion;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>